{% for lxc_guest_hostname in groups['lxc-guest'] %}
Host {{ lxc_guest_hostname }}
	ProxyCommand ssh -F ./.ssh/config -W %h:%p {{ hostvars[groups['lxc-host'][0]].ansible_user }}@{{ groups['lxc-host'][0] }}
	UpdateHostKeys yes
	StrictHostKeyChecking no
	IdentityFile ./.ssh/proxy-id_rsa
{% endfor %}
